[Unit]
Description=Punchclock App

[Service]
Type=simple
ExecStart=/usr/local/bin/punchclock.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
